{% extends "base.html" %} {% load static %} {% block title %}View Event Details
| EMS_projects{% endblock %} {% block content%}
<section class="fluid-container">
  <div class="event-image">
    <div class="contianer text-center">
      <h1>{{event.title}}</h1>
      {% if user.is_authenticated and event.organizer == user %}
      <div>
        <a href="{% url 'edit_event' event.pk %}">Edit event</a>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticDeleteEvent"
        >
          Delete
        </button>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticDeleteEvent"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                {{event.title}}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                You are about to delete <span>{{event.title}}</span>. Are you sure want to remove it?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <form action="{% url 'delete_event' event.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div>
          <img
            src="{{event.image.url}}"
            class="img-fluid img-top"
            alt="{{event.title}}"
          />
        </div>
        <div class="pt-2 bg-white">
          <p>{{event.description}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-primary text-light text-center py-2">
          <p>Event start time: {{event.start_time}}</p>
        </div>
        <div class="">
          <p>Location: {{event.location}}</p>
        </div>

        <div class="">
          <p>Venue: {{event.venue}}</p>
        </div>

        <div class="">
          <p>Category: {{event.category}}</p>
        </div>

        <div class="">
          <p>Organizer: {{event.organizer}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}
