{% extends "base.html" %}{% block title %}Events | EMS{% endblock %}
{% block content%}
<section class="container-fluid mt-5">
  {% if filter %}
    <div class="row">
      <!-- Filter form -->
      <div class="col-md-4">
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>
      </div>
      <div class="col-md-8">
        {%for event in filter.qs%}
        <div class="col-md-4 mb-4">
        <div class="event-card">
          <img src="{{event.image}}" max-height="180px" alt="{{event.title}}">
          <div class="event-card-header">
            <p><strong class="text-muted">{{event.title}}</strong></p>
            <p class="text-muted"><i class="fa-solid fa-location-dot"></i>{{event.location}}</p>
          </div>
          <ul class="pb-3">
            <li class="text-muted"><i class="fa-solid fa-calendar-days"></i>{{event.date}}</li>
            
            <li class="text-muted"><i class="fa-solid fa-layer-group"></i>{{event.category}}</li>
            <li class="text-muted"><i class="fa-solid fa-user"></i>{{event.organizer}}</li>
          </ul>

          <p class="text-muted">{{event.brief}}</p>

          <div class="d-flex justify-content-between align-items-center pt-3">
            <p class="text-muted"><i class="fa-solid fa-eye"></i>Views: {{event.views_count}}</p>
            <a href="" class="button">View Details</a>
          </div>
          
        </div>
      </div>
        {%endfor%}
      </div>
    </div>
  {%else%}
  <p class="muted">No events available at the moment</p>
  {%endif%}
</section>
{% endblock %}
