{% extends "base.html" %}{% block title %}Gallery | EMS{% endblock title %}

{% block content %}
<section classname="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="hero-title">Event Gallery</h1>
                <p class="hero-subtitle">
                  Relive the moments from our incredible past events. From conferences and exhibitions 
                  to sports tournaments, cultural celebrations, and unforgettable music experiences - 
                  explore the memories we've created together.  
                </p>
            </div>  
        </div>
    </div>
</section>
