{% extends "base.html" %} {% block title %}Home | EMS{% endblock title %}
{%block content %}
<section id="hero" class="container mt-5">
  <div class="col-md-8 text-align-center">
    {% if user.is_authenticated %}
      <p>Welcome {{user.username}}</p>
    {% endif %}
    <h1>Plan, Exexute, and Enjoy events</h1>
    <p>
      Create, manage, and promote events with our intuitive event management
      system. From conferences to weddings, we've got you covered.
    </p>
  </div>
  <div class="col-md-4">
    
  </div>
</section>
{% endblock content %}
