{% extends "base.html" %} {% block title %}Login{% endblock title %} {% block content %}
<section id="login" class="container">
  <div
    class="d-flex justify-content-center align-items-center flex-column wrapper"
  >
    <div class="form-box">
      <div class="form-header">
        <span>Login here!</span>
      </div>
    <form method="post" class="pt-4">
      {% csrf_token %}
      <div class="input-box">
        <label for="" class="label">{{form.username.label}}</label>
        <p>{{form.username}}</p>
      </div>
      <div>
        <label for="">{{form.password.label}}</label>
        <p>{{form.password}}</p>
      </div>
      {% if messages %} {% for message in messages %}
      <div class="text-danger">{{ message }}</div>
      {% endfor %} {% endif %}
      <div class="forgot-pass">
        <a href="" class="link">Forgot password?</a>
      </div> 
      <div class="pt-2 btn-container">
        <button type="submit" class="submit-btn">Login</button>
      </div>
    </form>
    <hr />
    <div>
      <p>Do not have an account? <a href="{% url 'register' %}" class="link">Register</a></p>
    </div>
    </div>
  </div>
</section>
{% endblock %}
