{% extends "base.html" %}{% block title %}My Events | EMS{%endblock%}
{% block content %}
<section class="container mt-5">
    <!-- list of events -->
    <div class="row">
      {% for event in events %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
          </tr>
          
        </thead>
        <tbody>
          <tr>
            <td>{{event.title}}</td>
          </tr>
        </tbody>
      </table>
      {% empty %}
      <p class="text-muted">No events found.</p>
      {% endfor %}
    </div>
    <!-- end list of events -->
</section>
{%endblock%}