{% extends "base.html" %}{% block title %}My Events | EMS{%endblock%}
{% block content %}
<section class="container mt-5">
    <!-- list of events -->
    <div class="row">
      {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert 
        {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" 
        role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
      {% for event in events %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Venue</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">Views</th>
          </tr>
          
        </thead>
        <tbody>
          <tr>
            <td>{{event.title}}</td>
            <td>{{event.location}}</td>
            <td>{{event.venue}}</td>
            <td>{{event.date}}</td>
            <td>{{event.start_time}}</td>
            <td>{{event.views_count}}</td>
          </tr>
        </tbody>
      </table>
      {% empty %}
      <p class="text-muted">No events found.</p>
      {% endfor %}
    </div>
    <!-- end list of events -->
</section>
{%endblock%}